<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de productos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%-include('partials/header')%>

    <main>
        <ul>
            <% productos.forEach(producto => { %>
                <li class="producto">
                <img src="/images/<%= producto.imagen %>" alt="Imagen de <%= producto.marca %>">
                <div class="contenido">
                    <h2>Marca: <%= producto.marca %></h2>
                    <h3>Modelo: <%= producto.modelo %></h3>
                    <p>Precio: $<%= producto.precio %></p>
                </div>
                </li>
            <% }) %>
            </ul>

    </main>



    <%-include('partials/footer')%>
</body>
</html>